@import 'scaffolding/grids';
@import 'scaffolding/type';
@import 'scaffolding/colors';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	@extend %vertical-center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.hex-figure {
	@extend %helvetica-bold;
	@extend %vertical-center;
	justify-content: center;
	font-size: (1/10)*100vw;
	flex: 1;
}

.tap-affordance {
	@extend %helvetica-light;
	font-size: 1rem;
	margin-bottom: 1rem;
}

a {
	text-decoration: none;
}

.hidden {
	display: none;
}
